.error {
    margin: 10px auto auto;
    color: red;
    font-size: 18px;
    line-height: 1.2;
}
.paginator-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-select {
    display: flex;
    justify-self: flex-start;
    margin: 10px;
    height: 35px;
    width: 75px;

}
.paginator {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 5px;
 
}
.page {
    height: 30px;
    width: 30px;
    border: 1px solid cadetblue;
    border-radius: 3px;
    background-color: cadetblue;
    color: white;
    margin: 15px;
    
}